<br>
<%= render 'layouts/messages' %>

<% if !@finished %>

  <%= form_tag check_labels_path, remote: true, method: :get, id: 'check-deliveries-form', class: 'ui reply form' do %> 
    <div class="field">
      <div class="ui fluid icon massive input">
        <%= text_field_tag :labelcheck22, nil, placeholder: "Kérem olvasson be egy master címke vonalkódot!  MOBILE", autofocus: true %>
        <%= button_tag '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
      </div>
    </div>
  <% end %>
  
  <br>
  <div class="well results-block">
    <strong><h2>Ellenőrzött raklapok száma: <%= session[:checked_labels].count %> / <%= session[:labels].count %></h2></strong>
  </div> 

  <br>
  <br>
  <%= link_to 'Ellenőrzés megszakítása', root_path, class: "mobile-large-text" %> 
 
<% else %>
  <br>
  <br>
  <%= form_tag delivery_checked_path, remote: true, method: :get, id: 'delivery-checked-form' do %>     
    <div class="form-group">
      <%= button_tag(type: :submit, class: "ui basic orange button massive") do %>
        Vissza a főmenübe
      <% end %>
    </div>        
  <% end %>
<% end %>
