<%= render 'layouts/messages' %>
<% if !@step2 %>
  <% if @deliveries %>
    <div class="well results-block">
      <%= form_tag choose_deliveries_path, remote: true, method: :get, id: 'choose-deliveries-form' do %>
        <ul class="ui list">
          <% @deliveries.each do |row| %>
            <% puts row %>
            <% delivery_note_label = row["DocNum"].to_s + " | " + row["DocDueDate"].strftime("%Y.%m.%d") + "  | " + row["palettes"].to_s + " db raklap" + " | " + row["ShipToCode"]  %>
            <li>
              <label class="category-select">
                <%= check_box_tag "deliveries[]", row["DocNum"] %>
                <%= delivery_note_label %>
              </label>
            </li>
          <% end %>
        </ul>
        <br>
        <div class="form-group">
          <%= button_tag(type: :submit, class: "ui basic orange button") do %>
            Ellenőrzés
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
