<br>
<h2 align="center" class="mobile">Szállítások ellenőrzése</h2> 
<br>
<br>
<div align="left">
  <%= form_tag search_deliveries_path, remote: true, method: :get, id: 'customer-lookup-form' do %>

    <br>
    <br>
    <div class="grouped fields">
      <% @customer_groups.each do |row| %>
        <%= content_tag :div, class: "field #{ 'mobile-large-text' if session[:mobile_device] == true }"  do %>
          <%= radio_button_tag "customer_group", row["Code"], false %>
          <%= "   " %> <%= row["Name"] %>
          <br>
          <br>
          <br>
        <% end %>
      <% end %>
    </div>
    <br>
    <br>


    <div class="form-group">
      <%= button_tag(type: :submit, class: "ui basic massive orange button") do %>
        Keresés
      <% end %>
    </div>

  
  <% end %>

  <br>

  <div id="deliveries">
    <%= render 'deliveries' %>
  </div>
  <br>
  <br>
  <%= link_to 'Vissza', root_path, class: "mobile-large-text" %>  

</div>