<%= form_for(@user, :html => {class: "ui form", role: "form"}) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@user.errors.count} hiba" %> akadályozza a felhasználó rögzítését:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :U_USERNAME, "Felhasználói név" %>
    <div class="ui left icon input">
      <%= f.text_field :U_USERNAME, placeholder: "Felhasználói név" %>
      <i class="user icon"></i>
    </div>
  </div>
  <div class="field">
    <%= f.label :U_EMAIL, "Email cím" %>
    <div class="ui left icon input">
      <%= f.text_field :U_EMAIL, placeholder: "Email cím" %>
      <i class="envelope icon"></i>
    </div>
  </div>
  <div class="field">
    <%= f.label :password, "Jelszó" %>
    <div class="ui left icon input">
      <%= f.password_field :password, placeholder: "Jelszó" %>
      <i class="lock icon"></i>
    </div>
  </div>
  <br>
  <% if current_user.admin == '1' %>
    <div class="field">
      <%= f.label :U_ROLES, "Jogosultságok" %>
      <div class="ui left icon input">
        <%= f.text_field :U_ROLES, placeholder: "NI" %>
        <i class="user icon"></i>
      </div>
      <small class="error-helper">Pozíció #1: Raktár modul,  Pozíció #2: Gyártás modul</small><br>      
      <small class="error-helper">I = Igen, N = Nem</small>      
    </div>
    <div class="field">
      <%= content_tag :div, class: "ui checkbox" do %>
        <%= f.check_box :U_ADMIN %>
        <%= f.label :U_ADMIN, "Admin jogkör" %>
      <% end %>
    </div> 
    <div class="field">
      <%= content_tag :div, class: "ui checkbox" do %>
        <%= f.check_box :U_PROD_APPROVER %>
        <%= f.label :U_PROD_APPROVER, "Gyártási jóváhagyó" %>
      <% end %>
    </div> 
    <br>
  <% end %>

  <p>
  <br>
  <div>
    <%= f.submit(@user.new_record? ? "Regisztráció" : "Módosítás", class: "ui orange submit button") %>
  </div>  
<% end %>