<br>
<h1>SAP Business One Portal v1.3.2 - Dashboard</h1>

<!--
<div class="ui vertical inverted labeled icon massive menu">
  <%= link_to "<i class='browser icon'></i> Beérkezés gyártásból".html_safe, beerkezes_gyartasbol_step1_path, class: "item" %>
</div>

<div class="ui vertical inverted labeled icon massive menu">
  <%= link_to "<i class='barcode icon'></i> Belső címke vs VDA címke ellenőrzés".html_safe, root_path, class: "item" %>
  <%= link_to "<i class='truck icon'></i> Szállítások ellenőrzése".html_safe, labelcheck_search_path, class: "item" %>
  <%= link_to "<i class='rss square icon'></i> Daimler RFID ellenőrzés".html_safe, root_path, class: "item" %>
</div>

<br>
-->

<br>

<% if session[:role_warehouse] == true %>
  <div class="ui horizontal center aligned list">
    <div class="item">
      <h3 class="ui center aligned icon header">
        <%= link_to "<i class='browser orange circular icon'></i> Beérkezés gyártásból".html_safe, receipt_from_production_index_path, class: "item" %>    
      </h3>
    </div>
    
    <div class="item">
      <h3 class="ui center aligned icon header">
        <%= link_to "<i class='barcode orange circular icon'></i> VDA címke ellenőrzés".html_safe, check_vda_index_path, class: "item" %>    
      </h3>
    </div>

    <div class="item">
      <h3 class="ui center aligned icon header">
        <%= link_to "<i class='truck orange circular icon'></i> Szállítás ellenőrzés".html_safe, check_delivery_index_path, class: "item" %>    
      </h3>
    </div>

    <div class="item">
      <h3 class="ui center aligned icon header">
        <%= link_to "<i class='tint orange circular icon'></i>Alapanyag előkészítés".html_safe, foamrequests_path, class: "item" %>    
      </h3>
    </div>
  </div>    
<% end %>
<br>
<br>
<% if session[:role_production] == true %>
  <div class="ui horizontal center aligned list">
    <div class="item">
      <h3 class="ui center aligned icon header">
        <%= link_to "<i class='rss clipboard outline orange circular icon'></i>Alapanyag igénylés".html_safe, foamrequests_path, class: "item" %>    
      </h3>
    </div>
  </div>    
<% end %>    

 


<br>

<!--
<br>
<h2 class="ui dividing header">Változások - v1.1.0  (2020.04.2x)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>VDA címke ellenőrzése</td>
    <td>xxx</td>
  </tr>
</table>
-->
<br>
<h2 class="ui dividing header">Változások - v1.3.2  (2020.06.xx)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Minden modul</td>
    <td>Felhasználói jogosultságok beépítve: mostantól a felhasználóknál be kell állítani, hogy melyik fő modulhoz van hozzáférésük. Egyelőre a raktári és a gyártás főmodulra történhet meg a jogosultság beállítása.</td>
  </tr>
  <tr>
    <td>Alapanyag igénylés</td>
    <td>Index nézet, ahol nyomon lehet követni az igénylásek állapotát</td>
  </tr>  
</table>

<br>
<h2 class="ui dividing header">Változások - v1.3.1  (2020.05.30)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Gyártás / Alapanyag igénylés</td>
    <td>Új habigénylés leadása funkció elkészült. A rendszer ellenőrzi a gépben található aktuális habrendszert és a megadott termék habrendszerét. Figyelmeztetést küld, ha a két habrendszer nem egyezik meg, illetve akkor is figyelmeztet, ha a megadott termék esetében van valami probléma.</td>
  </tr>
</table>

<br>
<h2 class="ui dividing header">Változások - v1.3.0  (2020.05.23)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Raktár / Daimler RFID</td>
    <td>Daimler RFID Hexa kód generálás VDA4994 szerint. Egy szállítólevél számot megadva a program elkészíti a Daimler által kért RFID Hexa kódot és azt vissza is írja a címkekiosztás táblába.</td>
  </tr> 
  <tr>
    <td>Zebra modulok</td>
    <td>Hibajavítás: Betűméret javítása a beérkezés gyártásból modulban</td>
  </tr>  
  <tr>
    <td>Gyártás / Alapanyag igénylés</td>
    <td>Alapanyag igénylés funkció előkészítése (menük, adatszerkezet kialakítása)</td>
  </tr>
</table>

<br>
<h2 class="ui dividing header">Változások - v1.2.0  (2020.05.13)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Minden modul</td>
    <td>Felhasználó-kezelés beépítése. Adminisztrációs feladatok csak PC-s környezetben végezhetőek el, mobil eszközön csak be- és kijelentkezni lehet. Mobil eszközön a beépített Zebra nevű felhasználóval lehet belépni, csak a pin kódját kell beírni.</td>
  </tr>
</table>

<br>
<h2 class="ui dividing header">Változások - v1.1.2  (2020.05.03)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Zebra modulok</td>
    <td>Hibajavítás: Betűméret javítása Zebrán</td>
  </tr>
  <tr>
    <td>Beérkezés gyártásból</td>
    <td>Zebrán is elérhető mostantól. Háttér folyamatok optimalizálása.</td>
  </tr>    
</table>

<br>
<h2 class="ui dividing header">Változások - v1.1.1  (2020.04.29)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Főmenü</td>
    <td>Ezentúl látható a fejlécben, hogy a mobil eszköz vagy a honlap melyik adatbázishoz csatlakozik éppen</td>
  </tr>
  <tr>
    <td>VDA címke ellenőrzés</td>
    <td>Mobil képernyőn sokkal nagyobb betűk és elemek használata</td>
  </tr> 
  <tr>
    <td>Szállítások ellenőrzése</td>
    <td>Mobil képernyőn sokkal nagyobb betűk és elemek használata. Háttér folyamatok optimalizálása.</td>
  </tr>    
</table>

<br>
<h2 class="ui dividing header">Változások - v1.1.0  (2020.04.26)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>VDA címke ellenőrzés</td>
    <td>Teljes ellenőrzési folyamat (user kezelés nélkül) HD képernyőre optimalizálva</td>
  </tr>
  <tr>
    <td>VDA címke ellenőrzés</td>
    <td>Teljes ellenőrzési folyamat (user kezelés nélkül) mobil képernyőre optimalizálva</td>
  </tr>
  <tr>
    <td>Beérkezés gyártásból</td>
    <td>Belső címkék új QR kód formátumának beépítése</td>
  </tr>
  <tr>
    <td>Minden modul</td>
    <td>Dátum formátumok javítása MS SQL-nek megfelelően</td>
  </tr>
</table>

<br>
<h2 class="ui dividing header">Változások - v1.0.1  (2020.04.21)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Szállítások ellenőrzése</td>
    <td>Szállítások ellenőrzése modul HD képernyőre optimalizálva</td>
  </tr>
  <tr>
    <td>Szállítások ellenőrzése</td>
    <td>Szállítások ellenőrzése modul mobil képernyőre optimalizálva</td>
  </tr>
  <tr>
    <td>Szállítások ellenőrzése</td>
    <td>Audi címkék 22 karakteres azonosítójának a kezelése is beépítve</td>
  </tr>
  <tr>
    <td>Főmenü</td>
    <td>Dashboard a legfontosabb menükkel, lista az előző verzióhoz képest történt változtatásokról (csak a HD verzióban)</td>
  </tr>  
</table>

<br>
<h2 class="ui dividing header">Változások - v1.0.0  (2020.01.01)</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Modul</th>
      <th class="thirteen wide">Leírás</th>
    </tr>
  </thead>
  <tr>
    <td>Szállítások ellenőrzése</td>
    <td>Szállítások ellenőrzése modul funkcionálisan kész</td>
  </tr>
  <tr>
    <td>Beérkezés gyártásból</td>
    <td>Beérkezés gyártásból modul funkcionálisan kész</td>
  </tr>
</table>
<br>
