<br>
<%= render 'layouts/messages' %>

<br>
<% if @actu_step == 1 %>
  <div id="show_approval_summary">
    <%= render 'show_approval_summary' %>
  </div>
<% end %>

<% if @actu_step == 2 %>
  <div id="approve_request_success_page">
    <%= render 'approve_request_success_page' %>
  </div>
<% end %>

<% if @actu_step == 9 %>
  <div id="error_page">
    <%= render 'error_page' %>
  </div>
<% end %>
<br>
<%= link_to 'Vissza', foamrequests_path, class: "#{ 'mobile-large-text' if session[:mobile_device] == true }" %> 
<br>
<br>