<%= content_tag :h3 do %>
  2. Tartály azonosító beolvasása
<% end %>

<%= form_tag search_container_id_path, remote: true, method: :get, id: 'tartalyba_toltes_step2-form', class: 'ui reply form' do %> 
  <div class="field">
    <%= content_tag :div, class: "ui fluid icon input"  do %>
      <%= text_field_tag :container_id, nil, placeholder: "Tartály azonosító beolvasása...", autofocus: true %>
      <%= button_tag '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
    <% end %>
  </div>
<% end %>