<% if @item %>
  <h3>
    2. Paraméterek áttekintése
  </h3> 
  <br>
  <div class="well results-block">
    <div class="ui fluid card">
      <div class="content">
        <%= content_tag :div, class: "header #{ 'mobile' if session[:mobile_device] == true }" do %>
          <div class="ui grid">
            <div class="left aligned ten wide column"><%= @foam_machine["Name"] %></div>
            <div class="right aligned six wide column">Üzem: <%= @foam_machine["U_Uzem"] %></div>
          </div>
        <% end %>
      </div>
      <div class="content">
        <%= content_tag :h4, class: "ui sub header #{ 'mobile' if session[:mobile_device] == true }" do %>
          Termék: <%= @item["ItemCode"] %> (<%= @item["ItemName"] %>)
        <% end %>
        <div class="ui small feed">
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                Gép habrendszer: <%= @foam_machine["U_AKTUHABRENDSZER"] %>
              </div>
            <% end %>
          </div>
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                Termék habrendszer: <%= @item["U_HABRENDSZER"] %>
              </div>
            <% end %>
          </div>
          <br>
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                ISO komponens: 
                <% if @iso_component %>
                  <%= @iso_component["ItemCode"] %>, (<%= @iso_component["ItemName"] %>)
                <% end %>  
              </div>
            <% end %>
          </div>

          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                Poliol komponens: 
                <% if @poliol_component %>
                  <%= @poliol_component["ItemCode"] %> (<%= @poliol_component["ItemName"] %>)
                <% end %>  
              </div>
            <% end %>
          </div>
          <br>
          <% if @additives %>
            <div class="event">
              <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
                <div class="summary">
                  További adalékok: 
                  <%= @additives.count %> db
                  <br>
                  <% @additives.each do |row| %>
                    <ul>
                      <li><%= row["ItemCode"] %> (<%= row["ItemName"] %>)</li>
                    </ul>
                  <% end %>
                </div>                
              <% end %>
            </div>          
          <% end %>  



        </div>
      </div>
      <div class="extra content">
        <div class="summary">
          <% if @error_message > '' %>
            <%= content_tag :h3, class: "ui header #{ 'mobile' if session[:mobile_device] == true }" do %>
              <div class="ui red center aligned horizontal large label"><%= @error_message %></div>
            <% end %>
          <% end %>
        </div>  
      </div>
      <div class="content">
        <div class="ui grid">
          <div class="left aligned eight wide column">
            <%= link_to "Újra kezd", new_foam_request_index_path, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button" %>
          </div>
          <div class="right aligned eight wide column">
            <%= form_tag select_quantities_path, remote: true, method: :get, id: 'continue_to_select_quantities-form', class: 'ui reply form' do %> 
              <%#= hidden_field_tag :item, @item %>
              <%#= hidden_field_tag :foam_machine, @foam_machine %>
              <div class="form-group">
                <%= button_tag(type: :submit, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button") do %>
                  Tovább
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %> 