<div class="ui grid">
  <div class="left aligned bottom aligned five wide column">
    <h1>Alapanyag összekészítés</h1>
  </div>
  <div class="center aligned six wide column">
    <div class="ui red center aligned horizontal massive label"><%= session[:foam_type] %></div>
  </div>
  <div class="right aligned bottom aligned five wide column">
    <h1>Igény sorszám: <%= @request.U_SARZSSZAM %></h1>
  </div>
</div>
<div class="ui divider"></div>
<div class="summary">
  Gyártandó termék cikkszáma: <strong><%= @item["ItemCode"] %></strong>
</div>
<div class="summary">
  Gyártandó termék megnevezése: <strong><%= @item["ItemName"] %></strong>
</div>
<div class="summary">
  Gyártandó termék habrendszere: <strong><%= @request.U_HABRENDSZER %></strong>
</div>
<div class="summary">
  Igényelt alapanyag típusa: <strong><%= session[:foam_type] %></strong>
</div>
<div class="summary">
  Igényelt mennyiség: <strong><%= @asked_quantity %> kg</strong>
</div>

<!--
<div id="prepare_request">
  <%#= render 'prepare_request' %>
</div>
-->
<div class="ui divider"></div>
<div class="summary">
  Alapanyag cikkszáma: <strong><%= @component["U_ITEMCODE"] %></strong>
</div>
<div class="summary">
  Alapanyag megnevezése: <strong><%= @component["U_ITEMNAME"] %></strong>
</div>
<div class="summary">
  Sarzskezelt: <strong><%= @component["U_BATCH_MANAGED"] %></strong>
</div>
<div class="summary">
  Összekészítendő mennyiség: <strong><%= @component["U_REQUESTED_QTY"] %> kg</strong>
</div>
<div class="summary">
  Összekészítésre kijelölt mennyiség: <strong><%= @component["U_PREPARED_QTY"] %> kg</strong>
</div>


<br>
<% if @component["U_BATCH_MANAGED"] == 'Y' %>
  <h3>Elérhető sarzsok</h3>
<% else %>
  <h3>Választható tárolóhelyek</h3>
<% end %>
<br>
<table id="preparable_material_table" class="tablesorter">
  <thead>
    <tr>
      <th class="one wide center aligned">Cikkszám</th>
      <th class="three wide center aligned">Megnevezés</th>
      <th class="one wide center aligned">Sarzsszám</th>
      <th class="one wide center aligned">Bevét dátuma</th>
      <th class="one wide center aligned">Lejárat dátuma</th>
      <th class="two wide center aligned">Tárolóhely</th>
      <th class="two wide center aligned">Felhasználható</th>
      <th class="one wide center aligned">Kijelölve</th>
      <th class="one wide center aligned no-sort" colspan="3">Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <% @units.each do |row| %>
      <tr>
        <td align="left"><%= row["ItemCode"] %></td>
        <td align="left"><%= row["ItemName"] %></td>
        <td align="left"><%= row["DistNumber"] %></td>
        <td align="center"><%= row["InDate"].to_s[0..9] %></td>
        <td align="center"><%= row["ExpDate"].to_s[0..9] %></td>
        <td align="left"><%= row["SL1Code"] %></td>
        <td align="right" style="padding-right: 10px;"><%= row["OnHandQty"] %> kg</td>
        <% if row["U_MarkedQty"] > 0 %>
          <td align="right" style="padding-right: 10px; color: red;"><strong><%= row["U_MarkedQty"] %> kg</strong></td>
        <% else %>
          <td align="right" style="padding-right: 10px;"><%= row["U_MarkedQty"] %> kg</td>
        <% end %>
        <td align="center">
          <% if row["U_MarkedQty"] > 0 %>
            <%= link_to prepare_component_path(:id => @request.Code, :detail_table_id => @component["Code"], :sender => 'remove_batch', :row_id  => row["AbsEntry"]), class: 'item icon' do %>
              <i class='undo alternate large icon orange'></i>
            <% end %> 
            <% if row["U_Batch_Managed"] = 'N' %>
              <%= link_to get_manual_batch_path(:id => @request.Code, :detail_table_id => @component["Code"], :sender => 'set_manual_batch', :row_id  => row["AbsEntry"]), class: 'item icon' do %>
                <i class='edit outline large icon orange'></i>
              <% end %>             
            <% end %> 
          <% else %>
            <%= link_to prepare_component_path(:id => @request.Code, :detail_table_id => @component["Code"], :sender => 'usage_batch', :row_id  => row["AbsEntry"]), class: 'item icon' do %>
              <i class='sign out alternate large icon orange'></i>
            <% end %> 
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<div class="ui grid">
  <div class="left aligned eight wide column">
    <%= link_to "Vissza ", prepare_request_index_path(:id => @request.Code), class: "ui primary #{ 'massive' if session[:mobile_device] == true } button" %>
    
  </div>
  <div class="right aligned eight wide column">
    <!--
    <%#= form_tag set_prepared_summary_path, method: :get, id: 'set_prepared_summary-form', class: 'ui reply form' do %> 
      <%#= hidden_field_tag :request_id, @request.Code %>
      <div class="form-group">
        <%#= button_tag(type: :submit, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button") do %>
          Kész
        <%# end %>
      </div>
    <%# end %>
    -->
  </div>
</div>



