<br>
<%= render 'layouts/messages' %>

<%= form_tag beerkezes_summary_path, remote: true, method: :get, id: 'beerkezes_summary-form', class: 'ui reply form' do %> 
  <div class="field">
    <div class="ui fluid icon input">
      <%= text_field_tag :storage_id, nil, placeholder: "Tárolóhely azonosító beolvasása...", autofocus: true %>
      <%= hidden_field_tag :prod_order, @selected_prod_order %>
      <%= button_tag '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
    </div>
  </div>
<% end %>
<br>
<div id="step3_result">
  <%= render 'step3_result' %>
</div>
<br>