<div class="well results-block">
  <br>
  <div class="ui fluid card">
    <div class="content">
      <div class="header" align="center">
      <%= content_tag :div, class: "header #{ 'mobile' if session[:mobile_device] == true }" do %>
        Sikeres szállítmány ellenőrzés
      <% end %>
    </div>
    <div class="content" align="center">
      <%= image_tag("ok.png") %>
    </div>
    <div class="extra content">
      <div class="summary">
        <%= content_tag :h4, class: "ui header #{ 'mobile' if session[:mobile_device] == true }"  do %>
          <%= @result_text %>
        <% end %> 
      </div>  
    </div>
    <div class="extra content">
      <br>
      <div class="ui grid">
        <div class="left aligned eight wide column"><%= link_to "Tovább", check_delivery_index_path, class: "ui primary button #{ 'massive' if session[:mobile_device] == true }" %></div>
        <div class="right aligned eight wide column"><%= link_to "Kilépés", root_path, class: "ui primary button #{ 'massive' if session[:mobile_device] == true }" %></div>
      </div>
    </div>
  </div>
</div>