<% if @prod_orders %>
  <%= content_tag :h3, class: "#{ 'mobile' if session[:mobile_device] == true }"  do %>
    2. Beolvasott címke adatai
  <% end %>  
  <div class="well results-block">
     <div class="ui fluid card">
      <div class="content">
        <%= content_tag :div, class: "header #{ 'mobile' if session[:mobile_device] == true }" do %>
          <div class="ui grid">
            <div class="left aligned ten wide column"><%= @label.itemcode %></div>
            <div class="right aligned six wide column"><%= @label.quantity %> db</div>
          </div>
        <% end %>
      </div>
      <div class="content">
        <%= content_tag :h4, class: "ui sub header #{ 'mobile' if session[:mobile_device] == true }" do %>
          <%= @itemname %>
        <% end %>
        <div class="ui small feed">
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                Sarzs azonosító: <%= @label.charge_nr %>
              </div>
            <% end %>
          </div>
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                Gyártás dátuma: <%= @label.prod_date %>, <%= @label.prod_time %>
              </div>
            <% end %>
          </div>
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                Csom. egység, típus: <%= @label.package_unit %>, <%= @label.package_type %>
              </div>
            <% end %>
          </div>
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                Csomagoló: <%= @label.packager_id %>
              </div>
            <% end %>
          </div>
          <div class="event">
            <%= content_tag :div, class: "content #{ 'mobile-medium-text' if session[:mobile_device] == true }" do %>
              <div class="summary">
                MEO munkatárs: <%= @label.qainspector_id %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="summary">
          <%= content_tag :h4, class: "ui header #{ 'mobile' if session[:mobile_device] == true }" do %>
            Nyitott gyártási rendelés: <%= @prod_orders.length %>
          <% end %>
        </div>  
      </div>
      <div class="content">
        <div class="ui grid">
          <div class="left aligned eight wide column">
            <%= link_to "Újra kezd", receipt_from_production_index_path, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button" %>
          </div>
          <% if @prod_orders != nil %>
            <% if @prod_orders.length == 1 %>
              <div class="right aligned eight wide column">
                <%#= link_to "Tovább", get_storage_id_path(param1: @selected_prod_order), class: "ui primary button" %>
                <%= form_tag get_storage_id_path, remote: true, method: :get, id: 'continue_to_get_storage_id-form', class: 'ui reply form' do %> 
                  <%= hidden_field_tag :prod_order, @selected_prod_order %>
                  <div class="form-group">
                    <%= button_tag(type: :submit, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button") do %>
                      Tovább
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="right aligned eight wide column">
                <%#= link_to "Tovább", beerkezes_gyartasbol_step2_path(param1: @prod_orders), class: "ui primary button" %>
                <%= form_tag select_production_order_path, remote: true, method: :get, id: 'continue_to_get_production_order-form', class: 'ui reply form' do %> 
                  <%= hidden_field_tag :prod_orders, @prod_orders %>
                  <div class="form-group">
                    <%= button_tag(type: :submit, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button") do %>
                      Tovább
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>  
          <% else %>
            <div class="right aligned eight wide column"><%= link_to "Kilépés", root_path, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
<% else %>
  <% if @label %>
    <div class="ui grid">
      <div class="left aligned eight wide column"><%= link_to "Új beolvasás", receipt_from_production_index_path, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button" %></div>
      <div class="right aligned eight wide column"><%= link_to "Kilépés", root_path, class: "ui primary #{ 'massive' if session[:mobile_device] == true } button" %></div>
    </div>
  <% end %>  
<% end %>