<div class="ui massive inverted menu mobile-menu">
  <div class="ui stackable container">


    <%= link_to({:controller => 'portal', :action => 'index'}, class: 'item icon') do %>
      <i class='home icon large'></i>
    <% end %>


    <div class="right menu">
      <div class="item">
          <%= current_database["database"] %>
        </div>
      <% if logged_in? %>
        <div class="ui dropdown item">
          <%= current_user.username %> 
          <%#= " (admin)" if current_user.admin? %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "Kilépés", logout_path, method: :delete, class: "item" %>
          </div>
        </div>
      <% else %>
        <div class="item">
          <%= link_to "Belépés", login_path, class: "ui orange button" %>
        </div>
      <% end %>
    </div>


  </div>
</div>